.background-container {
  background-image: url("path/to/your/image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.app-container {
 
}
