@font-face {
  font-family: "Noto Sans";
  src: url(./fonts/notosans/NotoSans-SemiBold.ttf) format("truetype");
}

* {
  color: #fff;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  src: url(./fonts/notosans/NotoSans-SemiBold.ttf) format("truetype");
}

.semicondensed {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400; /* Regular */
  font-style: normal; /* Normal style */
  font-stretch: condensed; /* Condensed width */
}

/* Display Semicondensed Noto Sans */
.display-semicondensed {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400; /* Regular */
  font-style: normal; /* Normal style */
  font-stretch: semi-condensed; /* Semi-condensed width */
}
